#message-form {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
  column-gap: 20px;
  width: 100%;
}

#message-user {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#message-text {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  
  resize: none;
  
  word-wrap: normal;
}

#message-submit {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  
  background-color: var(--chat-btn);
  color: var(--chat-btn-text);
  
  border-radius: 10px;
  
  
  font-size: 20px;
  
  cursor: pointer;
}

#message-submit:hover {
  background-color: #f7ad3e;
}